# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
aiohttp
requests
asyncio
requests
